.owl-carousel{
	.owl-stage-outer{
		.owl-stage{
			.owl-item{
				div{
					text-align: center;
					img{
						width: auto;
						height:auto;
						display:inline-block;
						margin-bottom: 3em;
					}
				}
			}
		}
	}
	.owl-nav{
		@extend .visible-md;
  	@extend .visible-lg;
  	position: absolute;
    color: $color3;
    top: 50%;
    width: 100%;
    font-size: 4em;
    padding: 0 1em;
    .owl-prev{
      float:left;
    }
    .owl-next{
      float:right;
    }
  }
  .owl-dots{
  	@extend .visible-xs;
  	@extend .visible-sm;
  	position: absolute;
    bottom: 13px;
    width: 100%;
    font-size: 1.5em;
    color: #000;
    left:0;
    bottom:-36px;
    text-align: center;
		.owl-dot{
	    display: inline-block;
	    span{
		    border-color:rgba($color1,0.3);
		    border: 2px solid;
		    width: 1.3em;
		    height: 1.3em;
		    display: inline-block;
		    border-radius: 2em;
		    margin: 0 0.5em;
	    }
			&.active{
				span{
					border-color:$color1;
				}			
			}
		}
	}
}