$white: #ffffff;
$black:#000000;
$lavender:#BDB6DA;
$purple:#201B30;
$lightgrey:#9F9F9F;
$grey:#C8C8C8;
$darkgrey: #767676;
$lightblue: #C1DAD6;
$peach: #F08383;
$slate:#514D60;
$purplegrey:#514D60;
$cream:#F5F1D4;