// reset

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea
{
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input 
{ 
  line-height: normal; 
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]
{
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled],
input[disabled]
{ 
  cursor: default;
}

audio,
canvas,
video
{ 
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls])
{
  display: none;
}

[hidden]
{
  display: none;
}

img,
object,
embed
{ 
  max-width: 100%;
  height: auto;
}

img
{
  border: 0;
  vertical-align: middle;
} 

object,
embed
{
  height: 100%;
}