// Glyphicons font path
$font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-float-breakpoint: 992px;

$mq-xxs: 400px;
$mq-xs: 500px;
$mq-sm: 768px;
$mq-md: 1000px;
$mq-lg: 1300px;
$mq-xl: 1600px;
$mq-xxl: 2000px;

// Colors
$brand-primary:         #663699;

$color1: #FFFFFF;
$color2: #F7F7F7;
$color3: #D2D2D2;
$color4: #CCCCCC;
$color5: #808080;
$color6: #404040;
$color7: #000000;

$primary-font: 'Roboto',"Helvetica","Arial","sans-serif";
$secondary-font: "Helvetica Neue","Helvetica","Arial","sans-serif";
// $thin-font: 'PT Sans',"Helvetica","Arial","sans-serif";

$play-icon: '';
$facebook-icon: '';
$twitter-icon: '';

